/* @font-face{
     font-family: larekn;
     src: url(./LarkenDEMO-Regular.otf);
}
@font-face{
    font-family: larkenb;
    src: url(./LarkenDEMO-Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
    font-family: gilroy;
}
html,
body{
    height: 100%;
    width: 100%;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    align-items: center;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
}
nav h5{
    font-size: 1.2vw;
    font-weight: 100;
    font-family: larken;
}
#menu{
    background-color: #fff;
    width: 9vw;
    height: 3.8vw;
    border-radius: 50px;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 99;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}
#manu:active{
    scale: 0.95;
}
#menu .line{
    height: 2px;
    width: 50%;
    background-color: black;
    padding: 1%;
}
#page1{
    width: 100%;
    height: 100vh;
    background: fixed;
    background-color: #ede9e2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1 h1{
    font-size: 13vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 13vw;
    font-family: larkenb;
}
#page1 h1 span{
    color: #ac9376;
}
#page1 h1 span:nth-last-child(1){
    font-family: gilroy;
}
#page1 img{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
   object-position: center;

}
#page2{
    height: 100vh;
    background-color: #24262b;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(https://images.unsplash.com/photo-1712741842792-763796aa9dfe?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDEwfDZzTVZqVExTa2VRfHxlbnwwfHx8fHw%3D); */

/*#page2 img{
    height: 100%;
    width: 100%;
    position: absolute;

}
#page2 h1{
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    font-size: 10vw;
    top: 0;
}
#page2 h2{
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    font-size:10vw;
    top: 20%;
    color: #ac9376;;
}
#page2 p{
    justify-content: end;
    color: #fff;
    font-family: larken;
    font-size: 2vw;
}
page2-elements #more{
    background-color: #fff;
    border-radius: 50%;
    font-size: 20px;


}
#page3{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.53);
}
#More{
    width: 7vw;
    font-size: 1.2vw;
    opacity: 1;
    scale: 1;
    position: absolute;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translate(-50%,-50);
}
.page4{
    height: 100%;
    width: 100%;
    color: #24262b;
}
.page4 h1{
    font-family: larken;
    font-size: 25vw;
    color: #24262b;
    line-height: 0.9;
    text-transform: uppercase;
    text-align: center;
}
.page4 img{
    width: 100%;
    position: sticky;
    top: 10%;
    margin-top: 5vw;
}
 */
 @font-face {
    font-family: larken;
    src: url(./LarkenDEMO-Regular.otf);
  }
  @font-face {
    font-family: larkenb;
    src: url(./LarkenDEMO-Bold.otf);
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222;
    font-family: gilroy;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  nav{
    width: 100%;
    position: absolute;
  
    top: 0;
  
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
  
  }
  nav h5{
    font-size: 1.2vw;
    font-weight: 100;  
    font-family: larken;
  }
  #menu{
    background-color: #fff;
    width: 9vw;
    height: 3.8vw;
    border-radius: 50px;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 99;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
  }
  #menu:active{
    /* scale: 0.95; */
  }
  #menu .line{
    height: 2px;
    width: 30px;
    background-color: black;
  }
  #page1 {
    height: 100vh;
    width: 100%;
    background-color: #ede9e2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #page1 h1 {
    font-size: 13vw;
    text-transform: uppercase;
  
    text-align: center;
    line-height: 13vw;
    font-family: larkenb;
  }
  #page1 h1 span {
      color: #ac9376;
  }
  #page1 h1 span:nth-last-child(1) {
      font-family: gilroy;
  }
  
  #page1 img{
      height: 100%;
      width: 100%;
      position: absolute;
      object-fit: cover;
      object-position: center;
  }
  #page2 {
      min-height: 100vh;
      background-color: #24262b;
      position: relative;
      width: 100%;
      color: #fff;
      /* background-size: cover; */
      padding: 6vw 5vw;
  }
  
  #page2 h1{
    color: #fff;
    text-align: center;
    font-size: 8vw;
    line-height: 1;
    text-transform: uppercase;
    font-family: larken;
  }
  #page2 h1 span{
    font-family: larken;
    color: #ede9e2;
}
  
  .page2-elements{
    display: flex;
    align-items: flex-start;
    position: relative;
    margin-top: 5vw;
    justify-content: space-between;
}
  
#more{
    background-color: #fff;
    z-index: 10;
    height: 7vw;
    width: 7vw;
    font-size: 1.2vw;
    opacity: 0;
    position: absolute;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
  }
  
  
  .element{
    height: 45vh;
    width: 27vw;
    position: relative;
    background-color: red;
  }
  .element#elem1{
    background-color: blue;
    width: 50vw;
    height: 70vh;
  }
  
  .overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: brown; */
    z-index: 99;
  }
  
  .element img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  #page3{
    width: 100%;
    padding: 6vw 3vw;
    background-color: #24262b;
  }
  #page3>h1{
    font-family: larken;
    font-size: 25vw;
    color: #ede9e2;
    line-height: 0.9;
    text-transform: uppercase;
    text-align: center;
    position: sticky;
    top: 13%;
  }
  #page3 .imgs{
    width: 100%;
    position: sticky;
    top: 5%;
    margin-top: 5vw;
    transform-origin: 50% 0%;
  
    filter: brightness(1);
}
  
.imgs img{
    width: 100%;
  
}
.imgs h1{
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: larken;
    font-size: 6vw;
    color: #ede9e2;
  text-transform: uppercase;
  
}

.page4{
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
.swiper i{
  position: absolute;
  background-color: rgb(247, 219, 194);
  display: flex;
  right: 100%;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(247, 219, 194);
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img{
  display: flex;
  width: 50%;
  height: 50%;
  object-fit: cover;
}
